.nunito-font{
    font-family: 'Nunito', sans-serif;
}
.ibm-plex-font{
    font-family: 'IBM Plex Mono', monospace;
}
.titillium-web-font{
    font-family: 'Titillium Web', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.webpage{
    background-color: rgb(203, 205, 206);
}
